# Ignore the virtual environment directory
myvenv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables file
.env

# Other Python-related files
*.db
*.sqlite3

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
*.log
