/* Main navbar container */
.navbar {
  position: fixed; /* This keeps the navbar fixed to the left */
  left: 0;
  top: 0;
  height: 100vh; /* Use 100vh to cover the full height of the viewport */
  width: 200px;
  background-color: #415a77; /* Dark blue/gray */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between; /* Space between profile and nav links */
  padding: 10px; /* Adjust padding as needed */
  z-index: 1000; /* Ensure navbar is on top of other elements */
}

/* Profile section */
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 100px; /* Adjust the width as per your design */
  height: 100px; /* Set the height to match the width for a square container */
  border-radius: 50%; /* For circular profile pictures */
  object-fit: cover; /* Maintains the aspect ratio and crops the image if necessary */
  border: 2px solid #ddd;
}

.profile-btn {
  background-color: transparent;
  border: none;
  color: #ecf0f1;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Nav buttons */
.nav-links {
  width: 100%;
  position: absolute; /* Position links absolutely */
  top: 10rem; /* Adjust as needed */
  /* Other styles... */
}

.nav-button-home {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 18px;
  transition: background-color 0.3s;
}

.nav-button-inbox {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 18px;
  transition: background-color 0.3s;
}

.nav-button-groups {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 18px;
  transition: background-color 0.3s;
}

.nav-button-todo {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 18px;
  transition: background-color 0.3s;
}

.nav-button-home:hover .nav-button-home:active,
.nav-button-home:focus {
  background-color: #ead8b1;
  margin-right: 0;
}

.nav-button-inbox:hover .nav-button-inbox:active,
.nav-button-inbox:focus {
  background-color: #ead8b1;
  margin-right: 0;
}

.nav-button-groups:hover .nav-button-groups:active,
.nav-button-groups:focus {
  background-color: #ead8b1;
  margin-right: 0;
}

.nav-button-todo:hover .nav-button-todo:active,
.nav-button-todo:focus {
  background-color: #ead8b1;
  margin-right: 0;
}

.nav-link-content span {
  margin-left: 8px; /* Space between icon and text */
}

.logout-button {
  background: none;
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer on hover */
  color: white; /* Keep the color consistent with the rest of the UI */
  display: flex; /* Use flexbox to center the icon */
  align-items: center; /* Center the icon vertically */
  margin-bottom: 2rem;
}

.logout-button:hover {
  color: #ead8b1; /* Change color on hover, you can adjust this */
}
