.homescreenpage {
  display: flex; /* Use flexbox for a horizontal layout */
  height: 100vh; /* Full height of the viewport */
  width: 100% !important;
}

.content {
  display: flex; /* Use flexbox for the content area */
  flex: 1; /* Take the remaining space */
  background-color: aliceblue;
  padding: 2rem;
}

.folder-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the start */
  gap: 20px; /* Optional: Add space between cards */
}

.folder-card {
  width: calc(50% - 35px); /* Adjust width to 50% minus margin for 2 cards per row */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
  border-radius: 6px; /* Optional: Rounded corners */
  background-color: #96a2df7c; /* Optional: White background for cards */
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: bold; 
}

.messages-column,
.groups-column,
.todo-column {
  flex: 1; /* Each column will take equal space */
  padding: 20px; /* Padding for the content */
  box-sizing: border-box; /* Include padding in width calculations */
  margin: 1rem;
  box-shadow: #2c3e50;
  border-radius: 20px;
  background-color: #d1e3fc81;
  -webkit-box-shadow: -3px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -3px 4px 5px 0px rgba(0,0,0,0.75);
}

.messages-column h1,
.groups-column h1,
.todo-column h1{
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: bold; 
  color: black;
  text-decoration: underline #96a2df !important;
  transition: .2s ease-in-out;
}

.messages-column h1:hover,
.groups-column h1:hover,
.todo-column h1:hover{
  color: #96a2df;
  transition: .2s ease-in-out;
}


/* Styling for individual items in each column */
.message,
.group,
.todo-item {
  padding: 10px; /* Padding for items */
  margin-bottom: 10px; /* Space between items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Intensified shadow */
  border-radius: 5px; /* Optional: Add slight rounded corners */
  
}
